<nav>
	<div class="nav-wrapper">
		<a href="/" class="brand-logo"><img width="45" style="margin-left: 1em;"
			alt="" src="<%= asset_path('mylevlLOGO.png') %>" >MyLevl</a>
			<ul class="right hide-on-med-and-down">
				<% if current_user && current_user.has_linked_github? %>
				<li><%= link_to "Logout", logout_path, class: "link_button logout" %></li>
				<% else %>
				<li><%= link_to "Login with GitHub", auth_at_provider_path(provider: :github) %></li>
				<% end %>
				<li><%= link_to "Quests: <i class="mdi-navigation-more-vert"></i>", quests_path %></li>
			</ul>
		</div>
</nav>
