<% @title = "Edit Account" %>
<div class="container">
  <div class="row valign-wrapper">
    <div class="col s12 card-panel valign">
    <h4 class="center-align">Sign Up</h4>
    <%= render 'form' %>
    </div>
  </div>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
</div>