<% @title = "Sign Up" %>
<div class="container">
<div class="row valign-wrapper">
  <div class="col s12 card-panel valign">
  <h4 class="center-align">Sign Up </h4>
  <%= render 'form' %>
    
    </div>
</div>
</div>
</div>

