

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container, .parallax {
  min-height: 380px;
  line-height: 0;
  height: auto;
  max-height: 500px;
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  color: rgba(255,255,255,.9);

 .section {
    width: 100%;
  }
  img {
    min-height: 380px;
    line-height: 0;
    height: auto;
    max-height: 500px;
    max-width: 100%;
    min-width: 100%;
    width: 100%; 
  }
}
@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.whitecard {
  background: #FFF;
  box-shadow: 3px 2px 2px rgba(10, 10, 10,.9);
}

.icon-block {
  padding: 0 15px;
}

footer.page-footer {
  margin: 0;
}
