 <head>
  <script src="http://d3js.org/d3.v3.min.js"  charset="utf-8"></script>
</head>


<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<div id="user-area">
</div>

<div id="content-area">
</div>

<div id="events-area">
  
</div>

<!-- individual User -->
<script type="text/template" id="userTemp">
  <div class="container">
  <div class="user_main">
  <small class="user_info">
  {{ if(user.email) { }}
    {{= user.email }} 
  {{ } else { }}
    <a class="editing_user"> add email </a>
   {{ } }}

  | login count: {{= user.logins }} </small>
  <p>You have been a member with us since: {{= DateHelper.time_ago_in_words_with_parsing(user.created_at) }} last login: {{= DateHelper.time_ago_in_words_with_parsing(user.updated_at) }}</p>
  </div>
  <div class="rescue_info">
  {{ if(!user.next_level) { }}
    <p class="error_explanation"> You haven't set up your RescueTime API Key yet. You'll need that to track your experience points and level up into a High-Wizard of the Keyboard! <a href="https://www.rescuetime.com/anapi/manage">Rescue Time</a> </p>
  {{ } else { }}
    <div class="top_level">
    Level {{= user.next_level-1}} {{- user.name }} ({{- user.exp}}/{{- user.next_requires}})
      <div class="experience">
        <span class="main_experience">
        You must gain: {{= user.exp_left}} experience left before {{= user.next_level}}
        </span>
      </div>
    </div>
  {{ } }}
  </div>
  </div>
  <% if current_user == @user %>
  <button class="pure-button editing_user">
  {{ if(!user.email) { }}
   Add my Email
  {{ }else { }} 
    Update My Info! 
  {{ } }}
  </button>
  <div class="edit_form" style="display: none">
  <form class="pure-form pure-form-aligned" id="user-account">
    <fieldset>
    <div class="pure-control-group">
    <label for="email"> Email
    <input type="text" id="email" value="{{= user.email }}">
    </label>
    </div>
    <div class="pure-control-group">
    <label for="API"> Rescue-Time API
    <input type="text" id="rescue-key">
    </label>
    </div>
    <div class="pure-controls">
    <button class="pure-button update_user"> Update!
    </button>
    </div>
    </fieldset>
  </form>
  </div>
  <% end %>
</script>

<div class="widget">
<h1>My Skills</h1>
<div id="chart">
</div>  
</div>
<script type="text/template">
var data = [
  ["Javascript",2312],
  ["Ruby",674], 
  ["Go", 994], 
  ["Ios", 3433], 
  ["Python", 127],
  ["HTML/CSS",2261]
];
</script>

<script type="text/template" id="skill-template">
<div class="each_skill">
  <span class="experience">Experience: {{- skill.exp }}</span>
  <span class="date">Added: {{- skill.added_at }}</span>
  <span class="language" style="background: {{- skill.language.color }}"> {{- skill.language.name }} </span>
</div>
</script>

<script type="text/template" id="event-template">
<div class="each_experience">
  <span class="experience">Experience: {{- event.exp }}</span>
  <span class="date"> Added: {{- event.added_at }}</span>
  <span class="language" style="background: {{- event.language.color }}"> {{- event.language.name }} </span>
</div>
</script>
<%= debug(params) if Rails.env.development? %>