<p id="notice"><%= notice %></p>
<p>
  <strong>Email:
  <%= @user.email %></strong>
</p>

<% if current_user == @user %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', users_path %>

<div id="user-area">

</div>

<div id="content-area">

</div>

<!-- individual User -->
<script type="text/template" id="user-template">
  {{= user.id}}
  {{= user.email}}
  You have been a member with us since: {{= user.created_at }} (last login: {{= user.updated_at }})
  <span class="user_info">Your total Number of logins: {{= user.logins }}</span>
  <div class="rescue_info">
  {{ if (!user.rescue_key){ }}
    <p class="error_explanation"> You haven't set up your RescueTime API Key yet. You'll need that to track your experience points and level up into a High-Wizard of the Keyboard! <a href="http://rescuetime.com">Rescue Time</a> </p>
  {{ } else { }}
  <p> {{= user.rescue_key }} </p>
  {{ } }}
  </div>

  <form action="/users/{{user.id}}" method="POST">

  </form>
  <div class="main">
	<ul></ul>
  </div>
</script>

<script type="text/template" id="skill-template">
<div>
<span class="experience">Experience: {{skill.exp}}</span>
<span class="date">Added: {{skill.added_at}}</span>
<span class="language" style="background: {{skill.language.color}}"> {{skill.language.name}} </span>
</div>

</script>

<script type="text/javascript">
_.templateSettings = {
     evaluate    : /\{\{([\s\S]+?)\}\}/g,
     interpolate : /\{\{=([\s\S]+?)\}\}/g,
     escape      : /\{\{-([\s\S]+?)\}\}/g
  };
// sets the current user id so Backbone Views have access to it
</script>