  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are in development now adding oAuth through rescue time. Please enjoy and feel free to comment on anything or send us an email.</p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><%= link_to "Home", root_path, class:"white-text" %></li>
            <li><%= link_to "About", root_path, class:"white-text" %></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="http://linkedin/in/RazGoldin"> Raz's Linked In</li>
            <li><a class="white-text" href="https://www.linkedin.com/in/meirsnyder"> Meir's Linked In</li>
            <li><a class="white-text" href="http://github.com/zargold/Git_on_My_Level">GitHub Page</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://razgoldin.com:888">Raz</a> and <a class="blue-text text-lighten-2" href="http://github.com/MSny">Meir</a>
      </div>
    </div>
  </footer>